@import '../../../assets/scss/master.scss';

.container-landing {
  width: 100%;
  min-height: calc(100vh - 128px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10%;

  .background-landing-left {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
    background-color: $background;
  }

  .background-landing-right {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    left: 40%;
    z-index: -100;
    background-color: $white;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 45vw;
    height: 70vh;
    min-width: 750px;
    min-height: 490px;

    .container-hero-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: space(3) 0;
      background-color: $card;
      width: 50%;

      #img-profile {
        width: 220px;
        height: 220px;
        border-radius: 180px;
      }

      #name-profile {
        font-size: 2.2em;
        font-weight: 700;
      }

      #line-profile {
        width: 80px;
        border-bottom: 2px solid $black;
      }

      #job-profile {
        font-size: 1.2em;
        font-weight: 100;
      }

      .icons-profile {
        display: flex;
        justify-content: center;
        gap: space(2);

        a {

          .icon-profile {
            color: $black;
            font-weight: 700;
            font-size: 2.8em;
            transition: .4s;

            &:hover {
              color: lighten($black, 25%);
              cursor: pointer;
            }
          }
        }

      }

    }

    .container-hero-right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: space(6);
      padding-bottom: space(2);
      background-color: $white;
      width: 50%;

      #hello-profile {
        font-weight: 900;
        font-size: 4.5em;
      }

      #presentation-profile {
        font-weight: 300;
        font-size: 1.4em;
      }

      .buttons-profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: space(2);
        width: 100%;

        .btn {
          width: 130px;
        }
      }

      .summary-profile {
        font-weight: 100;
        font-size: 1.2em;
      }
    }
  }
}

@media screen and (max-width: $xl) {

  .container-landing {
    min-height: calc(100vh - 112px);

    .container {
      flex-direction: column;
      justify-content: flex-start;
      align-self: center;
      width: 40vw;
      height: 75vh;
      min-width: 300px;
      min-height: 550px;

      .container-hero-left {
        flex-direction: column;
        padding: space(2) 0;
        width: 100%;
        height: 50%;

        #img-profile {
          width: 140px;
          height: 140px;
        }

        #name-profile {
          font-size: 2.1em;
        }

        #job-profile {
          font-size: 1.1em;
        }

        .icons-profile {
          a i {
            font-size: 2.2em;
          }

        }
      }

      .container-hero-right {
        align-items: center;
        padding: space(2);
        width: 100%;
        height: 50%;

        #hello-profile {
          display: none;
        }

        #presentation-profile {
          display: none;
        }

        .buttons-profile {
          justify-content: center;
          gap: space(2);
          width: 100%;

          .btn {
            width: 130px;
          }
        }

        .summary-profile {
          text-align: center;
          font-weight: 100;
          font-size: 1.1em;
        }
      }
    }
  }

}

@media screen and (max-width: $l) {

  .container-landing {
    min-height: calc(100vh - 96px);

    .container {
      width: 45vw;
      height: 75vh;

      .container-hero-left {

        #img-profile {
          width: 140px;
          height: 140px;
          border-radius: 180px;
        }

        #name-profile {
          font-size: 2em;
        }

        #job-profile {
          font-size: 1em;
        }

        .icons-profile {
          a i {
            font-size: 2em;
          }
        }
      }

      .container-hero-right {

        .buttons-profile {
          justify-content: center;
          gap: space(2);
          width: 100%;

          .btn {
            width: 130px;
          }
        }

        .summary-profile {
          font-size: 1.1em;
        }
      }
    }
  }
}

@media screen and (max-width: $m) {
  .container-landing {
    min-height: calc(100vh - 80px);
    padding-right: 0px;

    .container {

      .container-hero-left {

        #img-profile {
          width: 120px;
          height: 120px;
        }

        #name-profile {
          font-size: 1.9em;
        }

        #job-profile {
          font-size: 1em;
        }

        .icons-profile {
          a i {
            font-size: 1.9em;
          }
        }
      }

      .container-hero-right {
        padding: space(4) space(2);

        .buttons-profile {

          .btn {
            width: 110px;
            font-size: 0.9em;
          }
        }

        .summary-profile {
          font-size: 0.9em;
        }
      }
    }
  }
}

@media screen and (max-width: $s) {
  .container-landing {
    min-height: calc(100vh - 64px);

    .container {

      .container-hero-left {

        #img-profile {
          width: 100px;
          height: 100px;
        }

        #name-profile {
          font-size: 1.7em;
        }

        #job-profile {
          font-size: 1em;
        }

        .icons-profile {

          a i {
            font-size: 1.7em;
          }
        }
      }

      .container-hero-right {

        .buttons-profile {

          .btn {
            width: 90px;
            font-size: 0.8em;
          }
        }

        .summary-profile {
          font-size: 0.9em;
        }
      }
    }
  }

}
