@import '../../../assets/scss/master.scss';

.container-landing {
  width: 100%;
  height: calc(100vh - 128px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10%;

  .background-landing-left {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
    background-color: $background;
  }

  .background-landing-right {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    left: 40%;
    z-index: -100;
    background-color: $white;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 750px;
    height: 490px;

    .container-hero-left {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: $card;
      width: 50%;

      #img-profile {
        width: 150px;
        height: 150px;
        border-radius: 180px;
      }

      #name-profile {
        font-size: 2em;
        font-weight: 700;
      }

      #line-profile {
        width: 100px;
        border-bottom: 2px solid $black;
      }

      #job-profile {
        font-size: 1.2em;
        font-weight: 100;
      }

      #linkedin-profile {
        i {
          font-weight: 700;
          font-size: 2.8em;
          transition: .4s;
        }

        &:hover {
          color: lighten($black, 25%);
          cursor: pointer;
        }
      }

    }

    .container-hero-right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: space(6);
      margin-bottom: space(2);
      background-color: $white;
      width: 50%;

      #hello-profile {
        font-weight: 900;
        font-size: 4.5em;
      }

      #presentation-profile {
        font-weight: 300;
        font-size: 1.4em;
      }

      .buttons-profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: space(2);
        width: 100%;

        .btn {
          width: 130px;
        }
      }

      .summary-profile {
        font-weight: 100;
      }
    }
  }
}
