<div class="container-landing">

  <div class="background-landing-left"></div>
  <div class="background-landing-right"></div>

  <div class="container hero">

    <div class="container-hero-left">

      <img id="img-profile" src="./../../../assets/images/AJcomplex(v4)-circle.png" alt="logo">
      <h1 id="name-profile">Julien Anzivino</h1>
      <div id="line-profile"></div>
      <h3 id="job-profile">DEVELOPPEUR WEB</h3>
      <div id="linkedin-profile">
        <i id="linkedin-profile" class="ri-linkedin-box-fill"></i>
      </div>

    </div>

    <div class="container-hero-right">

      <h1 id="hello-profile">Bonjour,</h1>
      <h4 id="presentation-profile">Je m'appelle Julien Anzivino</h4>
      <div class="buttons-profile">
        <button class="btn">CV</button>
        <button class="btn btn-border">PROJETS</button>
      </div>
      <div class="summary-profile">
        Je suis un développeur informatique, plus précisément un développeur web.<br><br>
        J'ai enrichi mes compétences dans ce domaine à travers ma formation à la Faculté d'Aix-Marseille,
        mon expérience professionnelle en contrat d'apprentissage et quelques projets personnels.
      </div>
  </div>
</div>
