<div class="container-cv-skills">

  <div class="background-cv-skills-left"></div>
  <div class="background-cv-skills-right"></div>

  <div class="container-top">

    <div class="container-top-left">
      <h2 id="CV-header">CV</h2>
      <div id="line-header"></div>
      <h4 id="title-header">Compétences</h4>
    </div>

  </div>

  <div class="container-cards">

    <div class="container-card">

      <div class="container-card-left">
        <h3 id="skill">Langages</h3>
      </div>

      <div class="container-card-right">
        <p id="description">
          Java, Python, TypeScript, JavaScript, SQL <br> HTML / CSS / SCSS
        </p>
      </div>
    </div>

    <div class="container-card">

      <div class="container-card-left">
        <h3 id="skill">Frameworks</h3>
      </div>

      <div class="container-card-right">
        <p id="description">
          Angular, Spring, Django
        </p>
      </div>
    </div>

    <div class="container-card">

      <div class="container-card-left">
        <h3 id="skill">Certifications</h3>
      </div>

      <div class="container-card-right">
        <p id="description">
          EXIN - Agile Scrum Foundation <br>
          PeopleCert - PRINCE2 Foundation <br>
          PeopleCert - ITIL 4 Foundation
        </p>
      </div>
    </div>

  </div>

  <div class="container-bottom"></div>


</div>

