<div class="background-top-white"></div>

<div class="container-cv-education">

  <div class="background-landing-left"></div>
  <div class="background-landing-right"></div>

  <div class="container-top">

    <div class="container-top-left">
      <h2 id="CV-header">CV</h2>
      <div id="line-header"></div>
      <h4 id="title-header">Formation</h4>
    </div>

    <div class="container-top-right">
      <button class="btn">Télécharger le CV</button>
    </div>

  </div>

  <div class="container-cards">
    <div class="container-card-1">
      <div class="container-card-1-left">
        <div class="diploma">
          <h3 id="diploma-title">Master MIAGE</h3>
          <h3 id="diploma-year"> - Bac +5</h3>
        </div>
        <h3 id="years">2020 - 2022</h3>
        <h3 id="region">Aix-Marseille</h3>
      </div>
      <div class="container-card-1-right">
        <p id="description">
          Diplôme universitaire alliant une double compétence en informatique et gestion,
          destiné à former des cadres d’entreprises experts en ingénierie et management
          des systèmes d’information.
        </p>
      </div>
    </div>
    <div class="container-card-2">
      <div class="container-card-2-left">
        <div class="diploma">
          <h3 id="diploma-title">Licence Informatique</h3>
          <h3 id="diploma-year"> - Bac +3</h3>
        </div>
        <h3 id="years">2017 - 2020</h3>
        <h3 id="region">Aix-Marseille</h3>
      </div>
      <div class="container-card-2-right">
        <p id="description">
          Diplôme universitaire visant à à comprendre et appréhender le secteur de l’informatique,
          elle forme aux concepts fondamentaux de l’informatique.
        </p>
      </div>
    </div>
  </div>

  <div class="container-bottom"></div>

</div>
