<div class="background-top-white"></div>

<div class="container-projects">

  <div class="background-projects-left"></div>
  <div class="background-projects-right"></div>

  <div class="container-top">

    <div class="container-top-right">
      <h2 id="projects-header">PROJETS</h2>
    </div>

  </div>

  <div class="container-cards">

    <div class="container-card-fullwidth">

      <div class="container-card-left">
        <img id="logo-project" src="../../../assets/images/icon_RCAM_cropped.png" alt="logo">
        <div class="infos-project">
          <h4 id="title-project">Les Recettes à Marc</h4>
          <a href="https://lesrecettesamarc.fr" id="link-project" target="_blank">https://lesrecettesamarc.fr</a>
        </div>
      </div>

      <div class="container-card-right">
        <p id="description">
          Application web Angular / Django de gestion de recettes de cuisine.
        </p>
      </div>

    </div>

    <div class="container-card-smallwidth">

      <div class="container-card-header">
        <h4 id="title-project">Les Recettes à Marc</h4>
      </div>

      <div class="container-card-bottom">
        <div class="container-card-left">
          <img id="logo-project" src="../../../assets/images/icon_RCAM_cropped.png" alt="logo">
        </div>

        <div class="container-card-right">
          <a href="https://lesrecettesamarc.fr" id="link-project" target="_blank">https://lesrecettesamarc.fr</a>
          <p id="description">
            Application web Angular / Django de gestion de recettes de cuisine.
          </p>
        </div>
      </div>

    </div>

    <div class="container-card-fullwidth">

      <div class="container-card-left">
        <img id="logo-project" src="../../../assets/images/hangmangame.png" alt="logo">
        <div class="infos-project">
          <h4 id="title-project">Hangman</h4>
          <a href="https://anzivinojul.github.io/hangman/" id="link-project" target="_blank">https://anzivinojul.github.io/hangman/</a>
        </div>
      </div>

      <div class="container-card-right">
        <p id="description">
          Application web Angular reprenant le principe du célèbre jeu du pendu.
        </p>
      </div>

    </div>

    <div class="container-card-smallwidth">

      <div class="container-card-header">
        <h4 id="title-project">Hangman</h4>
      </div>

      <div class="container-card-bottom">
        <div class="container-card-left">
          <img id="logo-project" src="../../../assets/images/hangmangame.png" alt="logo">
        </div>

        <div class="container-card-right">
          <a href="https://anzivinojul.github.io/hangman/" id="link-project" target="_blank">https://anzivinojul.github.io/hangman/</a>
          <p id="description">
            Application web Angular reprenant le principe du célèbre jeu du pendu.
          </p>
        </div>
      </div>

    </div>

    <div class="container-card-fullwidth">

      <div class="container-card-left">
        <img id="logo-project" src="../../../assets/images/tictactoegame.png" alt="logo">
        <div class="infos-project">
          <h4 id="title-project">Tic-Tac-Toe</h4>
          <a href="https://anzivinojul.github.io/tic-tac-toe/" id="link-project" target="_blank">https://anzivinojul.github.io/tic-tac-toe/</a>
        </div>
      </div>

      <div class="container-card-right">
        <p id="description">
          Application web Angular reprenant le principe du célèbre jeu du morpion.
        </p>
      </div>

    </div>

    <div class="container-card-smallwidth">

      <div class="container-card-header">
        <h4 id="title-project">Tic-Tac-Toe</h4>
      </div>

      <div class="container-card-bottom">
        <div class="container-card-left">
          <img id="logo-project" src="../../../assets/images/tictactoegame.png" alt="logo">
        </div>

        <div class="container-card-right">
          <a href="https://anzivinojul.github.io/tic-tac-toe/" id="link-project" target="_blank">https://anzivinojul.github.io/tic-tac-toe/</a>
          <p id="description">
            Application web Angular reprenant le principe du célèbre jeu du morpion.
          </p>
        </div>
      </div>

    </div>

  </div>

  <div class="container-bottom"></div>

</div>

