// BASE

@import './assets/scss/base/reset';
@import './assets/scss/base/fonts';
@import './assets/scss/base/breakpoints';
@import './assets/scss/base/colors';
@import './assets/scss/base/mixins';
@import './assets/scss/base/functions';
@import './assets/scss/base/body';
@import './assets/scss/base/messages';

// COMPONENTS

@import './assets/scss/components/container';
@import './assets/scss/components/buttons';
@import './assets/scss/components/forms';


//BODY
body {
  min-height: 100vh;
  width: 100%;
  color: $black;
  font-family: $font;
  font-weight: 600;
  background-color: $background;
}
