<div class="container-cv-work-experience">

  <div class="background-cv-work-experience-left"></div>
  <div class="background-cv-work-experience-right"></div>

  <div class="container-top">

    <div class="container-top-left">
      <h2 id="CV-header">CV</h2>
      <div id="line-header"></div>
      <h4 id="title-header">Expériences professionnelles</h4>
    </div>

  </div>

  <div class="container-cards">
    <div class="container-card">
      <div class="container-card-left">
        <div class="company">
          <h3 id="company-title">RTE</h3>
          <h3 id="company-year"> - Développeur Angular / Spring</h3>
        </div>
        <h3 id="years">2020 - 2022</h3>
        <h3 id="region">Marseille</h3>
      </div>
      <div class="container-card-right">
        <p id="description">
          Contrat d’alternance de 2 ans au sein de RTE (Réseau de Transport d’Electricité).
          J'ai travaillé sur une application web interne développée en Angular / Spring,
          mon rôle était de maintenir et développer de nouvelles fonctionnalités ainsi
          que de gérer le déroulement du projet, une gestion des tâches à venir et
          la mise en place de la méthode SCRUM.
        </p>
      </div>
    </div>
    <div class="container-card">
      <div class="container-card-left">
        <div class="company">
          <h3 id="company-title">RTE</h3>
          <h3 id="company-year"> - Développeur Informatique junior</h3>
        </div>
        <h3 id="years">2020</h3>
        <h3 id="region">Marseille</h3>
      </div>
      <div class="container-card-right">
        <p id="description">
          4 mois de stage au sein de RTE (Réseau de Transport d’Electricité).
          J’ai participé au développement d’un module pour une application web interne développée en Angular / Spring.
        </p>
      </div>
    </div>
  </div>

  <div class="container-bottom"></div>


</div>



